schema/protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
* EXLAP 1.3 - Core schema definition
* Authors:
* Jens Krueger, Volkswagen AG
* Hans-Christian Fricke, Volkswagen AG
* This work is licensed under the Creative Commons "Namensnennung-Weitergabe unter gleichen
* Bedingungen 3.0 Deutschland License": http://creativecommons.org/licenses/by-sa/3.0/de/ 
*
* This XML schema is the validation schema for the EXLAP communication protocol on the wire 
* and the service definitions. For reasons of length and readability descriptive XML annotations
* are stripped out of this document.
* 
* Porsche App uses sha256 - added a new challenge method. Need to re-compile schema with GeneratorDS.py.
-->
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://exlap.de/v1/protocol" targetNamespace="http://exlap.de/v1/protocol" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="definitions.xsd"/>
	<xs:include schemaLocation="object.xsd"/>
	<xs:element name="Exlap">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="Req"/>
				<xs:element ref="Status"/>
				<xs:element ref="Rsp"/>
				<xs:element ref="Dat"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Status">
		<xs:complexType>
			<xs:choice>
				<xs:element name="Init">
					<xs:complexType/>
				</xs:element>
				<xs:element name="Bye">
					<xs:complexType/>
				</xs:element>
				<xs:element name="Dataloss">
					<xs:complexType/>
				</xs:element>
				<xs:element name="Alive">
					<xs:complexType/>
				</xs:element>
			</xs:choice>
			<xs:attribute name="msg" type="xs:string" use="optional" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dat">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicElements">
					<xs:attribute name="url" type="nameType" use="required"/>
					<xs:attribute name="timeStamp" type="xs:dateTime" use="optional" default="1970-01-01T00:00:00.000Z"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Req">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Protocol"/>
				<xs:element ref="Dir"/>
				<xs:element ref="Subscribe"/>
				<xs:element ref="Unsubscribe"/>
				<xs:element ref="Call"/>
				<xs:element ref="Get"/>
				<xs:element ref="Bye"/>
				<xs:element ref="Alive"/>
				<xs:element ref="Heartbeat"/>
				<xs:element ref="Interface"/>
				<xs:element ref="Authenticate"/>
			</xs:choice>
			<xs:attribute name="id" use="optional" default="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="999999999"/>ยก
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Interface">
		<xs:complexType>
			<xs:attribute name="url" type="nameType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Protocol">
		<xs:complexType>
			<xs:attribute name="version" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="returnCapabilities" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Call">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicElements">
					<xs:attribute name="url" type="nameType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Get">
		<xs:complexType>
			<xs:attribute name="url" type="nameType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Alive">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Heartbeat">
		<xs:complexType>
			<xs:attribute name="ival" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Bye"></xs:element>
	<xs:element name="Subscribe">
		<xs:complexType>
			<xs:attribute name="url" type="nameType" use="required"></xs:attribute>
			<xs:attribute name="ival" use="optional" default="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="60000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="content" type="xs:boolean" default="true"/>
			<xs:attribute name="timeStamp" use="optional" default="false">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Authenticate">
		<xs:complexType>
			<xs:attribute name="phase" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="challenge"/>
						<xs:enumeration value="response"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="user" type="xs:string" use="optional" default=""/>
			<xs:attribute name="cnonce" type="xs:base64Binary" use="optional" default=""/>
			<xs:attribute name="digest" type="xs:base64Binary" use="optional" default=""/>
			<xs:attribute name="useHash" type="xs:string" use="optional" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Unsubscribe">
		<xs:complexType>
			<xs:attribute name="url" type="nameType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Dir">
		<xs:complexType>
			<xs:attribute name="urlPattern" use="optional" default="*">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="32"/>
						<xs:pattern value="\*?[A-Za-z0-9_]*\*?"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="fromEntry" type="xs:positiveInteger" use="optional" default="1"/>
			<xs:attribute name="numOfEntries" type="xs:positiveInteger" use="optional"
default="999999999"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rsp">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="Type"/>
				<xs:element ref="Function"/>
				<xs:element ref="Object"/>
				<xs:element ref="ObjectData"/>
				<xs:element ref="UrlList"/>
				<xs:element ref="Result"/>
				<xs:element ref="Challenge"/>
				<xs:element ref="Capabilities"/>
			</xs:choice>
			<xs:attribute name="id" use="optional" default="0">
				<xs:simpleType>
					<xs:restriction base="xs:nonNegativeInteger">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="999999999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="status" type="statusType" use="optional" default="ok"/>
			<xs:attribute name="msg" type="xs:string" use="optional" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Capabilities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Supports"/>
			</xs:sequence>
			<xs:attribute name="service" use="required"/>
			<xs:attribute name="description" use="optional" default=""/>
			<xs:attribute name="version" use="optional" default="1.0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="5"/>
						<xs:pattern value="[1-9].[0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Supports">
		<xs:complexType>
			<xs:attribute name="protocol" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="5"/>
						<xs:pattern value="[0-9].[0-9]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="interface" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="authenticate" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="heartbeat" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="datTimeStamp" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObjectData">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicElements">
					<xs:attribute name="url" type="nameType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Result">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicElements">
					<xs:attribute name="url" type="nameType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Challenge">
		<xs:complexType>
			<xs:attribute name="nonce" type="xs:string" use="optional" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UrlList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Match" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Match">
		<xs:complexType>
			<xs:attribute name="url" type="nameType" use="required"/>
			<xs:attribute name="type" use="optional" default="object">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="function"/>
						<xs:enumeration value="object"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="isSubscribed" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="statusType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="ok"/>
			<xs:enumeration value="error"/>
			<xs:enumeration value="internalError"/>
			<xs:enumeration value="syntaxError"/>
			<xs:enumeration value="protocolNotSupported"/>
			<xs:enumeration value="noMatchingUrl"/>
			<xs:enumeration value="accessViolation"/>
			<xs:enumeration value="subscriptionLimitReached"/>
			<xs:enumeration value="processing"/>
			<xs:enumeration value="invalidParameter"/>
			<xs:enumeration value="notImplemented"/>
			<xs:enumeration value="authenticationFailed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commandSupportedType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="supported"/>
			<xs:enumeration value="notSupported"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="baseValueType">
		<xs:attribute name="name" type="nameType" use="required"/>
		<xs:attribute name="state" use="optional" default="ok">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ok"/>
					<xs:enumeration value="nodata"/>
					<xs:enumeration value="error"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="msg" type="xs:string" use="optional" default=""/>
	</xs:complexType>
	<xs:element name="Abs">
		<xs:complexType>
			<xs:attributeGroup ref="elementBasicAttributeGroup"/>
			<xs:attribute name="val" type="xs:double" use="optional" default="0"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Act">
		<xs:complexType>
			<xs:attributeGroup ref="elementBasicAttributeGroup"/>
			<xs:attribute name="val" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Alt">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicElements">
					<xs:attributeGroup ref="elementBasicAttributeGroup"/>
					<xs:attribute name="type" type="nameType" use="required"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Bin">
		<xs:complexType>
			<xs:attributeGroup ref="elementBasicAttributeGroup"/>
			<xs:attribute name="val" type="xs:base64Binary" use="optional" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Enm">
		<xs:complexType>
			<xs:attributeGroup ref="elementBasicAttributeGroup"/>
			<xs:attribute name="val" type="identifierType" use="optional" default="default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Txt">
		<xs:complexType>
			<xs:attributeGroup ref="elementBasicAttributeGroup"/>
			<xs:attribute name="val" type="xs:string" use="optional" default=""/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rel">
		<xs:complexType>
			<xs:attributeGroup ref="elementBasicAttributeGroup"/>
			<xs:attribute name="val" type="xs:double" use="optional" default="0"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tim">
		<xs:complexType>
			<xs:attributeGroup ref="elementBasicAttributeGroup"/>
			<xs:attribute name="val" use="optional" default="1970-01-01T00:00:00.000Z">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{4}-[0-2][0-9]-[0-3][0-9]T[0-2][0-9](:[0-5][0-9]){2}(\.[0-9]{1,6})?(Z|(\+|-)[0-9]{2}:[0-9]{2})|[0-9]{4}-[0-2][0-9]-[0-3][0-9]|[0-2][0-9](:[0-5][0-9]){2}(\.[0-9]{1,6})?(Z|(\+|-)[0-9]{2}:[0-9]{2})"/>
						<!-- this pattern represents the specifictaion for Time -->
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="List">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Elem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="elementBasicAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Elem">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicElements"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Obj">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="basicElements">
					<xs:attributeGroup ref="elementBasicAttributeGroup"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="basicElements">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="Abs"/>
			<xs:element ref="Act"/>
			<xs:element ref="Alt"/>
			<xs:element ref="Bin"/>
			<xs:element ref="Enm"/>
			<xs:element ref="Txt"/>
			<xs:element ref="Rel"/>
			<xs:element ref="Tim"/>
			<xs:element ref="List"/>
			<xs:element ref="Obj"/>
		</xs:choice>
	</xs:complexType>
	<xs:attributeGroup name="elementBasicAttributeGroup">
		<xs:attribute name="name" type="nameType" use="required"/>
		<xs:attribute name="state" use="optional" default="ok">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ok"/>
					<xs:enumeration value="nodata"/>
					<xs:enumeration value="error"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="msg" type="xs:string" use="optional" default=""/>
	</xs:attributeGroup>
</xs:schema>